body {
}

h1 {
  font-family: montserrat;
  font-size: 5vw;
}

h2
{
  font-family: montserrat;
  font-size: 3vw;
}

h3
{
  font-family: montserrat;
  font-size: 2.5vw;
}

h4
{
  font-family: montserrat;
  font-size: 1.5vw;
}

p
{
  font-family: montserrat;
  font-size: 1vw;
}

table
{
  font-family: montserrat;
  font-size: 1vw;
}

td
{
  
}

th
{
  border-color: #F2F2F2
  border-size: 1px;
}
