body {
  font-family: montserrat;
  color: white;
  background-color: #33464E;
}

h1 {
  font-size: 5vw;
  text-align: center;
}

h2
{
  font-size: 3vw;
  text-align: center;
}

h3
{
  font-size: 2vw;
  text-align: left;
}

h4
{
  font-size: 1.5vw;
  text-align: center;
}

h5
{
  font-size: 4vw;
  text-align: center;
}

h2, h3, h4 {
  border-bottom: 2px solid white; /* Add a white underline with 2px thickness */
}

p
{
  font-size: 1vw;
  text-align: center;
}

table
{
  margin-right: auto;
  margin-left: auto;
  font-size: 1vw;
  border-collapse: collapse;
}

th, td
{
  text-align: left;
  border-width: 2px;
  border-style: solid;
  border-color: #657D89;
  padding-right: 20px;
  background-color: #51636D;
}

ul
{
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

.title
{
  width: calc(100% - 40px); /* Adjust width to factor in side margins */
  max-width: 1000px; /* Add max-width to prevent the title from becoming too wide */
  background-color: #0e2f44;
  text-align: center;
  margin: 0 auto; /* Center the title horizontally */
  border: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section
{
  padding-bottom: 3cm;
}

.image_title
{
  text-align: left;
}

img
{
  display: block;
  padding-bottom: 2cm;
  padding-top: 1cm;
  width: 80%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding: 0 100px; /* Adjust the side margins */
}
