body {
  font-family: montserrat;
  color: white;
  background-color: #33464E;
}

h1 {
  font-size: 5vw;
  text-align: center;
}

h2
{
  font-size: 3vw;
  text-align: center;
}

h3
{
  font-size: 2.5vw;
  text-align: center;
}

h4
{
  font-size: 1.5vw;
}

p
{
  font-size: 1vw;
  text-align: center;
}

table
{
  margin-right: auto;
  margin-left: auto;
  font-size: 1vw;
  border-collapse: collapse;
}

th, td
{
  text-align: left;
  border-width: 2px;
  border-style: solid;
  border-color: #657D89;
  padding-right: 20px;
  background-color: #51636D;
}

ul
{
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

.title
{
  width: 100vw;
  height: 100vh;
  background-color: #0e2f44;
  text-align: center;
  margin: 0px;
  border: 0px;
  padding-top: auto;
  padding-bottom: auto;
}

.section
{
  padding-bottom: 3cm;
}

.image_title
{
  text-align: left;
}

img
{
  display: block;
  padding-bottom: 2cm;
  padding-top: 1cm;
  width: 80%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding: 0 20px; /* Adjust the side margins */
}
